<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
        <img src="/favicon.ico" alt="Money 24" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Money 24</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/employees" class="nav-link">
                        <i class="icon-users l-icon nav-icon"></i>
                        <p>
                            Quản lý nhân viên
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/customers" class="nav-link">
                        <i class="icon-user l-icon nav-icon"></i>
                        <p>
                            Quản lý khách
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/banks" class="nav-link">
                        <i class="nav-icon l-icon icon-credit-card"></i>
                        <p>
                            Quản lý ngân hàng
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/interests" class="nav-link">
                        <i class="nav-icon l-icon icon-coin-dollar"></i>
                        <p>
                            Quản lý lãi suất
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/settings" class="nav-link">
                        <i class="nav-icon l-icon icon-profile"></i>
                        <p>
                            Cài đặt
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>