<nav class="bottom-nav">
    <div class="bottom-nav-item">
        <a class="bottom-nav-link  @(ViewContext.RouteData.Values["action"].ToString() == "Borrow"?"active":"")" href="/borrow">
            <i class="l-icon icon-coin-dollar"></i>
            <span>Vay</span>
        </a>
    </div>
    <div class="bottom-nav-item">
        <a class="bottom-nav-link @(ViewContext.RouteData.Values["action"].ToString() == "CustomerCare"?"active":"")" href="/customer-care">
            <i class="l-icon icon-headphones"></i>
            <span>Liên hệ</span>
        </a>
    </div>
    <div class="bottom-nav-item">
        <a class="bottom-nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Wallet"?"active":"")" href="/wallet" >
             <i class="l-icon icon-credit-card"></i>
            <span>Ví tiền</span>
        </a>
    </div>

    <div class="bottom-nav-item">
        <a class="bottom-nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Profile"?"active":"")" href="/profile">
            <i class="l-icon icon-user"></i>
            <span>Hồ sơ</span>
        </a>
    </div>
</nav>