@{
      Layout = "Layouts/_BaseLayout";
}
@section styles
{
<!-- builder:css -->
      <link href="http://localhost:3004/home.css" rel="stylesheet">
      <!-- endbuilder:css -->
}

@section scripts
{
<!-- builder:js -->
      <script defer src="http://localhost:3004/hot-reload.js"></script>
<script defer src="http://localhost:3004/home.js"></script>
      <!-- endbuilder:js -->
}
<div class="container">
      <div data-module="login"></div>
</div>
